<!DOCTYPE html>
<html lang="en">

<head>
  {% if site.google_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Respondo is a ticketing system for social media posts. It's like Zendesk for Twitter and other social networks. You can tag, search and filter tickets.">
  <meta name="author" content="Matija Čupić">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Respondo - {{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom styles -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/55ce2d2ceb.js" integrity="sha384-Kg2HWOJKCC1RRJe+qjssVARMOlXMtFlH3cZrZYjeZxsflGHj4kLkh7FgAu/8OV2X" crossorigin="anonymous"></script>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#page-top">
        <span class="font-weight-bold text-white">Respondo</span>
      </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-lg text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto">
          {% assign sorted_pages = site.pages | sort: "nav_order" %}
          {% for site_page in sorted_pages %}
            {% unless site_page.nav_skip == true %}
              <li class="nav-item {% if site_page.url == page.url %}active{% endif %}">
                {% capture page_url %}
                  {% if site_page.url contains '.html' %}
                    {% assign url_size = site_page.url | size | minus: 5 %}
                    {{ site_page.url | slice: 0, url_size }}
                  {% else %}
                    {{ site_page.url }}
                  {% endif %}
                {% endcapture %}
                <a class="nav-link text-white" href="{{ page_url | strip }}">{{ site_page.title }}</a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white pb-0">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0 text-center">
          <img src="assets/img/logo_circle_white.svg" alt="Respondo logo" class="img-fluid" />
        </div>
        <div class="col-lg-7">
          <h1 class="mt-0">What is Respondo?</h1>
          <p class="lead">Respondo is a ticketing system for social media posts. It's like Zendesk for Twitter and other social networks. You can tag, search and filter tickets. It helps streamline and formalize handling social media posts for brand accounts.</p>
          <a class="btn btn-lg btn-success rounded-pill" href="https://app.respondohub.com" target="_blank" rel="noopener noreferrer">Use Respondo!</a>
        </div>
      </div>
    </div>

    <img src="assets/img/wave_header.svg" class="w-100 h-auto">
  </header>

  {{ content }}

  <!-- Footer -->
  <footer>
    <img src="assets/img/wave_footer.svg" class="w-100 h-auto">
    <div class="container pb-5">
      <div class="row justify-content-center mb-3">
        <img src="assets/img/logo_circle_white.svg">
      </div>
      <div class="row justify-content-center border-top pt-3">
        <a href="https://respondohub.com/terms_and_conditions" class="text-right text-white h6 col-4">Terms and conditions</a>
        <span class="text-center text-white h6 border-left border-right col-4 col-lg-3">Respondo Ltd &copy; 2020</span>
        <a href="https://respondohub.com/privacy_policy" class="text-left text-white h6 col-4">Privacy policy</a>
      </div>
    </div>
    <!-- /.container -->
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js" integrity="sha384-a+JsMzT6HrD0E3J4MtAOfQFyYPy+6wxP+0+/F7miYZUca8YqiP+cvafmQayId7wg" crossorigin="anonymous" type="text/javascript"></script>
</body>

</html>
